@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    background-color: hsl(0, 0%, 100%);
    min-width: 375px;
    width: 100vw;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
}

main section figure {
    margin: 1rem 0;
    padding: 0;
}

main section figure img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-family: "Young Serif", serif;
    font-weight: 700;
    font-style: normal;
    color: hsl(30, 10%, 34%);
}

h2 {
    font-family: "Outfit", sans-serif;
    font-family: "Young Serif", serif;
    font-weight: 600;
    font-style: normal;
    color: hsl(14, 45%, 36%);
}

h3 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: hsl(332, 51%, 32%);
}

section {
    margin: 0 5%;
}

.separator-line {
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid  hsl(30, 18%, 87%);
}

.nutrition-table {
    width: 90%;
}

.heading p {
    font-size: 1rem;
}

ul li,
ol li {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 400;
    padding-left: 15px;
    margin-bottom: 9px;
}
ol li span{
    font-weight: 550;
}
.nutrition-table div {
    display: flex;
    justify-content: space-around;
    width: 80%;
    line-height: 2.5rem;

}

.nutrition-amount {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.preparation-time {
    padding-left: 20px;
    margin-bottom: 10px;
    width: 85%;
    background-color: hsl(330, 100%, 98%);
}
